.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    margin-top: 30px;
    padding-bottom: 10px;
}

.titles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.picture {
    display: flex;
    flex-direction: column;
}

.change {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px;
    border-radius: 15px;
    width: 10vw;
    font-size: 14px;
}

.nameInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputName {
    padding: 12px;
    border-radius: 15px;
    width: 15vw;
    font-size: 14px;
    border-color: black;
}

.aboutInput {
    padding: 12px;
    border-radius: 15px;
    width: 30vw;
    height: 20vh;
    font-size: 14px;

    border: 2px solid black;
}

.inputBox {
    padding: 12px;
    border-radius: 15px;
    width: 30vw;
    font-size: 14px;
}

.footerButtonsContainer {
    display: flex;
}

.footerButtons {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px;
    border-radius: 15px;
    width: 10vw;
    font-size: 14px;
}