.wrapper {
    background-color: white;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 30px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

button {
    background-color: #e1e1e1;
    padding: 15px;
    border-radius: 50px;
    border: none;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.profilePicture {
    width: 40vw;
    height: 40vh;
}